POSTGRES_USER=postgres
POSTGRES_PASSWORD=PASS_KAMU
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_DB=air_quality_db

KAFKA_BOOTSTRAP_SERVER=kafka:29092
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

CAMS_API_URL=https://ads.atmosphere.copernicus.eu/api
CAMS_API_KEY=API_KEY_U

TELEGRAM_BOT_TOKEN=TOKEN_U
TELEGRAM_CHAT_ID=ID_U
