# PostgreSQL dumps only
*.dump
*.backup
*.sql.gz

# Dagster
dagster_home/

# Docker/local db
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Keep folder structure
!data/.gitkeep
!logs/.gitkeep
!models/.gitkeep

# Keep SQL schema/query files
!database/schema/*.sql
!database/queries/*.sql

# Trained models
models/*.pkl
models/*.joblib
models/*.h5